<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaoxi.user.dao.UserDAO" >

    <resultMap id="userResultMap" type="com.gaoxi.entity.user.UserEntity">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="mail" column="mail"/>
        <result property="licencePic" column="licence_pic"/>
        <result property="registerTime" column="register_time"/>
        <result property="userType" column="user_type"/>
        <result property="userState" column="user_state"/>
        <result property="roleId" column="role_id"/>
    </resultMap>

    <select id="findUsers" resultMap="userResultMap">
      SELECT * FROM sys_user;
    </select>

</mapper>
